<html>
    
    <body>
        
        <style>
            html {zoom: 80%;}
        </style>


        <iframe src="test.html" scrolling="no" height="1700" width="5000" frameBorder="0"></iframe>
        
        <p>

        <table>
            <tr> 
                <tc><iframe src="ic_chart.html" scrolling="no" height="600" width="600" frameBorder="0"></iframe></tc>
                <tc><iframe src="id_chart.html" scrolling="no" height="600" width="600" frameBorder="0"></iframe></tc>
                <tc><iframe src="oc_chart.html" scrolling="no" height="600" width="600" frameBorder="0"></iframe></tc>
                <tc><iframe src="od_chart.html" scrolling="no" height="600" width="800" frameBorder="0"></iframe></tc>
                
            </tr>
            
            <tr>
                <tc><iframe src="in_rate.html" scrolling="no" height="500" width="1000" frameBorder="0"></iframe></tc>
                <tc><iframe src="de_rate.html" scrolling="no" height="500" width="1000" frameBorder="0"></iframe></tc>
                <p style="font-size:30px">Please note that there are no information on total population for Detention center, Reservation jail, and U.S. Marshalls.</p>
            </tr>
        </table>
        


    </body>
</html>